@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
.correct {
    color: #FBAF00;
    ;
}

.incorrect {
    color: #F46036;
    text-decoration: underline;
}

@media (max-width: 992px) {
    #cuurrent-word {
        font-size:1.3rem;
    }

    h4 {
        font-size: 1rem !important;
    }

    h1 {
        font-size:  1.2rem !important;
    }

    input {
        height: 2.3rem !important;
    }

    button {
        height: 2.2rem !important;
    }
}

body { 
    
    font-family: 'Mukta', sans-serif !important;
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 19%, hsla(42, 100%, 49%, 1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button, header, #card {
    background-color: black !important;
}

