.correct {
    color: green
    ;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

@media (max-width: 992px) {
    #cuurrent-word {
        font-size:1.5rem;
    }

    h4 {
        font-size: 1.2rem !important;
    }
}

